/Dracy_flow_IP_constant.py
/__pycache__
/cuda_10.2.89_440.33.01_linux.run
/gt.csv
/h_test
/hard.py
/logs
/mhd_2d.py
/mhdeq.py
/model
/model.py
/model_2d.py
/result.dat
/supervised.py
/supervised.pyc
/temp.py
/test
/test.csv
/test.py
/test0.csv
/test1.csv
/test2.csv
/test25.csv
/test4.csv
/test_2d
/test_2d.py
/test_r
/train.csv
/train01.csv
/train1.csv
/train25.csv
/train4.csv
/train_2d.csv